---
import Equation from "@components/Equation.astro";
import EquationsVisualizer from "@components/EquationsVisualizer.astro";
import RazonesTrigonometricas from "@components/React/trigonometria/RazonesTrigonometricas/RazonesTrigonomatricas";
import {TANGENTE, SECANTE, COSECANTE, COTANGENTE, FUNDAMENTAL} from "@docs/assets/Identidades trigonometricas/svg.js";
---


<section class="Identidad-trigonometrica-fundamental container-fluid">

    <h2 class="title">Identidad trigonometrica fundamental</h2>

    <EquationsVisualizer svg equations={[FUNDAMENTAL.svg, ...FUNDAMENTAL.variantes.map(({svg}) => svg)]} scale={1.4} />

    <div class="content row">

        <div class="col-4 d-flex flex-column gap-3">

            <EquationsVisualizer svg equations={[TANGENTE.svg, ...TANGENTE.variantes.map(({svg}) => svg)]} scale={0.8} 
                
                title="Tangente"
            />
        
            <EquationsVisualizer svg equations={[COTANGENTE.svg, ...COTANGENTE.variantes.map(({svg}) => svg)]} scale={0.8} 
                title="Cotangente"    
            />
        
            <EquationsVisualizer svg equations={[SECANTE.svg, ...SECANTE.variantes.map(({svg}) => svg)]} scale={0.8} 
                title="Secante"    
            />
        
            <EquationsVisualizer svg equations={[COSECANTE.svg, ...COSECANTE.variantes.map(({svg}) => svg)]} scale={0.8} 
                title="Cosecante"    
            />
        
        </div>

        <div class="col-8">

            <RazonesTrigonometricas client:load width={650} height={450} size={1800} />

        </div>

    </div>

    <div>
        
    </div>

</section>

<style>
    
    .Identidad-trigonometrica-fundamental {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

</style>