---
import Layout from "@layouts/Layout.astro";
import {SIN, COS, TAN, COT, SEC, CSC} from "@docs/assets/Razones trigonometricas/valores.js";
import {parseMarkdown, parseLatex} from "@utils/Markdown.js";
import Tabs from "@layouts/Tabs.astro";

const RAZONES = [SIN, COS, TAN, COT, SEC, CSC]
---

<section class="Razones-trigonometricas">

    <Tabs>
        <div class="Razones-trigonometricas-values" slot="1º Cuadrante">
            <table>
                <thead>
                    <tr>
                        <th>Razon trigonometrica</th>
                        { [0, 30, 45, 60, 90].map(angle => <th class="angle">{angle}º</th>) }
                    </tr>
                </thead>
                <tbody>
                    {
                        RAZONES.map((razon) => {
        
                            return <tr>
                                <td>
                                    <div class="razon"> 
                                        <span class="name">{razon.name}</span>
                                        <span class="interval">{razon.interval}</span>    
                                    </div>
                                </td>    
                                {
                                    [0, 30, 45, 60, 90].map((angle) => {
    
                                        const {latex} = razon.values[angle];
    
                                        return <td> 
                                            <div class="value latex" set:html={parseLatex(latex)}/>
                                        </td>
                                    })
                                }  
                            </tr>
                        })
                    }
                </tbody>
            </table>
        </div>

        <div class="Razones-trigonometricas-values" slot="2º Cuadrante">
            <table>
                <thead>
                    <tr>
                        <th>Razon trigonometrica</th>
                        { [90, 120, 135, 150, 180].map(angle => <th class="angle">{angle}º</th>) }
                    </tr>
                </thead>
                <tbody>
                    {
                        RAZONES.map((razon) => {
        
                            return <tr>
                                <td>
                                    <div class="razon"> 
                                        <span class="name">{razon.name}</span>
                                        <span class="interval">{razon.interval}</span>    
                                    </div>
                                </td>    
                                {
                                    [90, 120, 135, 150, 180].map((angle) => {
    
                                        const {latex} = razon.values[angle];
    
                                        return <td> 
                                            <div class="value latex" set:html={parseLatex(latex)}/>
                                        </td>
                                    })
                                }  
                            </tr>
                        })
                    }
                </tbody>
            </table>
        </div>

        <div class="Razones-trigonometricas-values" slot="3º Cuadrante">
            <table>
                <thead>
                    <tr>
                        <th>Razon trigonometrica</th>
                        { [180, 210, 225, 240, 270].map(angle => <th class="angle">{angle}º</th>) }
                    </tr>
                </thead>
                <tbody>
                    {
                        RAZONES.map((razon) => {
        
                            return <tr>
                                <td>
                                    <div class="razon"> 
                                        <span class="name">{razon.name}</span>
                                        <span class="interval">{razon.interval}</span>    
                                    </div>
                                </td>    
                                {
                                    [180, 210, 225, 240, 270].map((angle) => {
    
                                        const {latex} = razon.values[angle];
    
                                        return <td> 
                                            <div class="value latex" set:html={parseLatex(latex)}/>
                                        </td>
                                    })
                                }  
                            </tr>
                        })
                    }
                </tbody>
            </table>
        </div>

        <div class="Razones-trigonometricas-values" slot="4º Cuadrante">
            <table>
                <thead>
                    <tr>
                        <th>Razon trigonometrica</th>
                        { [270, 300, 315, 330, 360].map(angle => <th class="angle">{angle}º</th>) }
                    </tr>
                </thead>
                <tbody>
                    {
                        RAZONES.map((razon) => {
        
                            return <tr>
                                <td>
                                    <div class="razon"> 
                                        <span class="name">{razon.name}</span>
                                        <span class="interval">{razon.interval}</span>    
                                    </div>
                                </td>    
                                {
                                    [270, 300, 315, 330, 360].map((angle) => {
    
                                        const {latex, value} = razon.values[angle];
    
                                        return <td> 
                                            <div class="value latex" set:html={parseLatex(latex)} title={value} />
                                        </td>
                                    })
                                }  
                            </tr>
                        })
                    }
                </tbody>
            </table>
        </div>
    </Tabs>

</section>

<style>
    .Razones-trigonometricas {
        max-width: 800px;
    }
    .Razones-trigonometricas-values {
        width: fit-content;
        margin: auto;
        font-family: "Noto Sans Math", sans-serif;
        font-style: normal;
        font-size: 16px;
        letter-spacing: 2px;

        border: 1px solid gray;
        border-radius: 10px;
        overflow: hidden;

        table td .razon {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        table td .razon .name {
            font-weight: 600;
            font-style: italic;
        }
        table td .razon .interval {
            font-size: 18px;
        }

        table td,
        table th {
            min-width: 100px;
            padding: 10px 20px;
            text-align: center;
            border: 1px solid gray;
        }
        table thead tr th {
            border-top: none;
            background-color: rgb(231, 231, 231);
            padding: 10px;
        }
        table tbody tr:last-child td {
            border-bottom: none;
        }
        table td:first-child,
        table th:first-child,
        table td:last-child,
        table th:last-child {
            border-left: none;
            border-right: none;
        }

        table tr:hover td {
            background-color: rgb(210, 252, 194);
        }
        table th.angle {
            font-weight: 200;
            font-size: 22px;
        }

        table td .value.latex {
            font-size: 24px;
            font-family: var(--font-math);

            p {
                margin: 0;
            }
        }   
        table td .value.svg svg {
            transform: scale(0.6);
        }
    }
</style>