---
import Layout from "@layouts/Layout.astro";
import "@css/Custom-mathjax.css";
import {renderLatexToCHTML} from "@utils/RenderLatexCHTML.js";
import { getEntry } from "astro:content";
import EquationCard from "@components/equaciones/reglas-de-derivacion/EquationCard.astro";
import Controls from "@components/equaciones/reglas-de-derivacion/Controls.astro";

const renderLatex = await renderLatexToCHTML();

const EQ = await Promise.all([
    getEntry('json', 'reglas-de-derivacion/basico'),
    getEntry('json', 'reglas-de-derivacion/raiz-cuadrada'),
    getEntry('json', 'reglas-de-derivacion/exponencial'),
    getEntry('json', 'reglas-de-derivacion/logaritmo'),
    getEntry('json', 'reglas-de-derivacion/trigonometricas'),
    getEntry('json', 'reglas-de-derivacion/trigonometricas-inversas'),
    getEntry('json', 'reglas-de-derivacion/operaciones'),
]);

---

<Layout title="Reglas de derivacion" sidebar={{title: 'Reglas de derivacion'}} logo="equaciones" home="/equaciones">

    <Controls slot="sidebar-body" equations={EQ} />

    <section>
    {
        EQ.map((equations) => {

            return <details open>
                <summary>{equations.id.split('/').at(1)}</summary>

                <article class="Equations">
                {
                    equations.data.map(({tags, name, simple, composition}) => {

                        const tabs = [
                            simple ? 'simple' : null, 
                            composition ? 'compuesta' : null
                        ]
                        .filter(v => v);

                        return <EquationCard name={name} tags={tags} tabs={tabs}>
                            {
                                simple && 
                                <div class="Equation" slot="simple-function" set:html={renderLatex.getHTML(simple.function)} /> 
                            }
                            {
                                simple && 
                                <div class="Equation" slot="simple-derivative" set:html={renderLatex.getHTML(simple.derivative)} />
                            }
                            {
                                composition && 
                                <div class="Equation" slot="compuesta-function" set:html={renderLatex.getHTML(composition.function)} />
                            }
                            {
                                composition &&
                                <div class="Equation" slot="compuesta-derivative" set:html={renderLatex.getHTML(composition.derivative)} />
                            }
                        </EquationCard>
                    })
                }
                </article>
            </details>
        })
    }
    </section>

    <style set:html={renderLatex.getStyles()} />
</Layout>

<style>
    
    details {
        margin-block: 30px;

        summary {
            font-size: 25px;
            font-weight: bold;
            &::first-letter {
                text-transform: capitalize;
            }
            padding-bottom: 20px;
        }
    }

    .Equations {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 20px;
    }

    .Equations :global(.Equation) {

        margin-block: auto;

        & :global(.MathJax) {
            margin-block: 0;
        }

        font-size: 24px;
    }
    
    .Equations :global(.hide-equation) {
        display: none;
    }

</style>



