---
    import {baseURL} from "@utils/baseURLUtil.js";

    const {

        links = [],
        home = ''

    } = Astro.props;
---

<nav class="navbar navbar-expand-lg">

    <div class="container">

        <a class="navbar-brand order-1 me-auto" href={baseURL(home)}>
            <slot name="brand" />
        </a>

        <div class="hide-controls order-3">
            <slot name="hide-control" />

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse order-4 order-lg-3" id="Navigation">
            <ul class="navbar-nav ms-auto">
                {
                    links.map((link) => {

                        const {name, url, children, active} = link;

                        if(!children) return (
                            
                            <li class="nav-item">
                                <a class="nav-link" class:list={{'active': active}} href={baseURL(url) || '#'}>{name}</a>
                            </li>
                        );

                        if(children && Array.isArray(children)) return (

                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href={baseURL(url) || '#'} role="button" data-bs-toggle="dropdown">{name}</a>
                                
                                <ul class="dropdown-menu dropdown-menu-end">
                                    { url && 
                                        <li>
                                            <a class="dropdown-item" href={baseURL(url)}>Inicio</a>
                                        </li>
                                    }
                                    {
                                        children.map(({name, url}) => (

                                            <li>
                                                <a class="dropdown-item" href={baseURL(url) || '#'}>{name}</a>
                                            </li>
                                        ))
                                    }
                                </ul>
                            </li>
                        );
                    })
                }
            </ul>
        </div>

        <div class="controls order-2 order-lg-4">
            <slot name="control" />
        </div>
    </div>
</nav>

<style>

    :global([data-theme="dark"]) {
        --navigation-navbar-shadow-color: #81818139;
    }
    :global([data-theme="light"]) {
        --navigation-navbar-shadow-color: #00000039;
    }

    nav.navbar {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10000;

        min-height: var(--nav-height, 70px);
        max-height: var(--nav-height, 70px);

        background-color: var(--bs-body-bg);

        font-family: var(--font-math);
        box-shadow: 0px 0px 10px 0px var(--navigation-navbar-shadow-color);

        @media (max-width: 991.98px) {
            max-height: none;
        }

        .hide-controls {
            display: flex;
            gap: 20px;

            i.bi {
                font-size: 30px;
            } 

            @media (min-width: 992px) {
                visibility: hidden;
            }
            @media (max-width: 575.98px) {
                gap: 0px;
            }
        }
        .controls {
            padding-inline: 20px;
            display: flex;
            align-items: center;
            gap: 20px;
            
            i.bi {
                font-size: 30px;
            }
        }

        .navbar-nav {
            gap: 5px 25px;
        }

        .navbar-toggler {
            --bs-border-width: 0;
            --bs-navbar-toggler-focus-width: 1px;
        }
    }
</style>