---
const {svg, scale = 1, src, height, colors = {}, name = ''} = Astro.props;

---

{
    svg && <div class="Equation" set:html={svg} title={name} />
}

{
    src && !svg && <div class="Equation" title={name}>
    
        <img src={src} alt={name} />
    </div>
}

<style
    define:vars={{
        'height': height,
        'scale': scale,
        ...colors
    }}
>
    .Equation {
        padding: calc(10% * (var(--scale) - 1));
        height: var(--height, initial);
        display: flex;
        justify-content: center;
    }
    .Equation img {
        flex-shrink: 0;
        height: 100%;
    }
    .Equation :global(svg) {
        flex-shrink: 0;
        display: block;
        transform: scale(var(--scale));
        margin: 0;
    }
    .Equation :global(svg .alpha) {
        color: var(--alpha, #000000);
    }   
    .Equation :global(svg .beta) {
        color: var(--beta, #000000);
    }

    
</style>