---
import 'bootstrap/dist/css/bootstrap.min.css';
import 'bootstrap-icons/font/bootstrap-icons.min.css';
import bootstrap from 'bootstrap/dist/js/bootstrap.bundle.js?url';
import { baseURL } from '@utils/baseURLUtil.js';

import '@css/horizontal-scroll-bar.css';
import '@css/github-markdown.css';
import '@css/Custom-mathjax.css';
import '@css/Custom-markdown.css';

import 'photoswipe/style.css';

import Navigation from './Navigation.astro';
import NavigationSideBar from './NavigationSideBar/NavigationSideBar.astro';
import ThemeSwitch from '@components/ThemeSwitch.astro';
import Logo from '@components/Logo.astro';
import {LOGOS} from '@assets/logos';
import ExcalidrawButton from '@components/ExcalidrawButton.astro';

const { title, sideBar, logo = 'default', home = '' } = Astro.props;

const navigationLinks = [
	{ name: 'inicio', url: '/' },
	{
		name: 'Matematicas',
		url: '/matematicas',
	},
];
---

<!DOCTYPE html>

<html lang="es" data-theme="dark" data-bs-theme="dark">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" type="image/svg+xml" href={baseURL('/favicon2.svg')} />
		<meta name="generator" content={Astro.generator} />

		<meta name="description" content="Astro description" />

		<title>{title}</title>
	</head>
	<body>

		<Navigation links={navigationLinks} home={home}>

			<Logo svg={LOGOS[logo]} slot="brand"/>

			{
				sideBar &&
				<button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#Navigation-side-bar" slot="hide-control">
					<i class="bi bi-journal-text"></i>
				</button>
			}

			<ThemeSwitch slot="control"/>

			<ExcalidrawButton slot="control"/>
		</Navigation>

		<div class="page-content">

			{
				sideBar &&
				<NavigationSideBar id="Navigation-side-bar" title={sideBar.title} titleURL={sideBar.titleURL} links={sideBar.links} />
			}

			<main class="container">
				<slot />
			</main>
		</div>
		
		<script is:inline src={bootstrap}></script>
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap');

	:root {
		--font-math: "Noto Sans Math", sans-serif;
		--nav-height: 70px;
		color-scheme: light;
		scroll-behavior: auto;
	}
	[data-theme="light"] {
		--bs-body-bg: #fff;
		color-scheme: light;
	}
	[data-theme="dark"] {
		--bs-body-bg: #0d1117;
		color-scheme: dark;
	}

	.page-content {

		display: flex;
		padding-top: var(--nav-height);

		& > * {
			flex-grow: 1;
		}

		main {
			padding-inline: 12px;
			padding-block: 20px 0;
			display: flex;
			flex-direction: column;
			gap: 50px;
		}
	}
	

</style>
